* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

html {
      background: url("img/fondo.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }


header{
      display: block;
      height: auto;
      text-align: center;
      margin-top: 220px;
    }

header img{
      padding: 20px;
      width: 20%;
      min-width: 300px;
      
}

body {
    font-family: sans-serif;
    display: -webkit-linear;
}

footer{
  margin-left: 93%;
}

footer img{
  margin-top: 20px;
  width: 30px;
}